fastapi[all]
gunicorn==21.2.0

SQLAlchemy==2.0.21
asyncpg==0.28.0
alembic==1.12.0

fastapi-users[sqlalchemy]
python-json-logger==2.0.7

sentry-sdk[fastapi]
fastapi-cache2[redis]
celery==5.3.4
flower==2.0.1
sqladmin==0.15.1
prometheus-fastapi-instrumentator==6.1.0

pytest==8.2.2
pytest_asyncio==0.23.7

fastapi-versioning==0.10.0